@model IEnumerable<Studentsmvc.Models.StudentModel>

@{
    ViewBag.Title = "Index";
  
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stu_rollno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stu_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stu_city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stu_state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stu_country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stu_rollno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stu_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stu_city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stu_state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stu_country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.stu_rollno}) |
            @Html.ActionLink("Details", "Details", new { id=item.stu_rollno}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.stu_rollno})
        </td>
    </tr>
}

</table>
